upstream server_upstream {
    least_conn;
    server ${PROXY_IP}:${PROXY_PORT};
}

server {
    listen 443 ssl;
    server_name ${LISTEN_HOST};

    location / {
        proxy_pass https://server_upstream;
        proxy_redirect    off;
    }

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_prefer_server_ciphers on;
    ssl_certificate /etc/nginx/certs/ssl.crt;
    ssl_certificate_key /etc/nginx/certs/ssl.key;
}